ignored
*.pyc
www/configs
.cache
.coverage
htmlcov
.pytest_cache
.DS_Store
www/res/vpc-flnkr-grip.jpg~
Reference sheets/virpil-flnkr-grip.kra~
Reference sheets/virpil-flnkr-grip.kra~
Reference sheets/virpil-flnkr-grip.kra~
www/res/tpr-rudder.jpg~
Reference sheets/.Thrustmaster TPR Rudder.kra-autosave.kra
